* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background:url(imagenes/f1a0803ab87c977fe91eb3ef971fce64.jpg) no-repeat center center/cover;
}